{% extends "/layouts/base.html" %} {% block content %}
<div class="admin-container">
  <h1 class="text-4xl font-bold pb-8">Host Downtime Interval</h1>

  <form id="searchForm" action="{{ url_for('admin.downHosts') }}" method="POST">
    <div class="flex flex-col w-full lg:flex-row gap-5">
      <div class="grid w-full flex-grow pb-5">
        <label class="label">
          <span class="label-text">Start Month</span>
        </label>
        <input
          class="w-full"
          type="month"
          name="monthPickerStart"
          id="monthPickerStart"
          value="{{ monthPickerStart }}"
        />
      </div>
      <div class="divider lg:divider-horizontal">TO</div>
      <div class="grid w-full flex-grow pb-5">
        <label class="label">
          <span class="label-text">End Month</span>
        </label>
        <input
          class="w-full"
          type="month"
          name="monthPickerEnd"
          id="monthPickerEnd"
          value="{{ monthPickerEnd }}"
        />
      </div>
    </div>
    <div class="form-control w-full pb-5">
      <label class="label">
        <span class="label-text">Select Time</span>
      </label>
      <select class="select select-bordered" name="selectTimeOver" id="selectTimeOver">
        <option disabled>Select Time</option>
        <option value="15" {{ 'selected' if selectTimeOver == 15 else '' }}>15 Minutes</option>
        <option value="30" {{ 'selected' if selectTimeOver == 30 else '' }}>30 Minutes</option>
        <option value="60" {{ 'selected' if selectTimeOver == 60 else '' }}>1 Hour</option>
        <option value="180" {{ 'selected' if selectTimeOver == 180 else '' }}>3 Hours</option>
        <option value="360" {{ 'selected' if selectTimeOver == 360 else '' }}>6 Hours</option>
        <option value="720" {{ 'selected' if selectTimeOver == 720 else '' }}>12 Hours</option>
        <option value="1440" {{ 'selected' if selectTimeOver == 1440 else '' }}>24 Hours</option>
        <option value="2880" {{ 'selected' if selectTimeOver == 2880 else '' }}>48 Hours</option>
        <option value="4320" {{ 'selected' if selectTimeOver == 4320 else '' }}>72 Hours</option>
        <option value="10080" {{ 'selected' if selectTimeOver == 10080 else '' }}>1 Week</option>
      </select>
    </div>
    <div class="flex justify-center md:justify-end pt-4 pb-5">
      <button
        type="submit"
        id="submitButton"
        class="btn bg-primary hover:bg-secondary dark:bg-neutral text-white w-full md:w-auto"
      >
        Search <i class="bx bx-search"></i>
      </button>
    </div>
  </form>
  <div class="flex justify-center md:justify-start">
    <div class="stats items-center shadow-lg w-full md:w-auto">
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i
            class="bx bx-trending-down inline-block stroke-current text-red-500"
            style="font-size: 2.5rem"
          ></i>
        </div>
        <div class="stat-title font-extrabold uppercase text-indigo-500">
          Total
        </div>
        <div class="stat-value">{{ all_count_down }}</div>
        <div class="stat-desc">
          Host downtime interval {% if monthPickerStart == monthPickerEnd %} in<span
            class="text-indigo-500 font-bold"
          >
            {{ monthPickerEnd }}</span
          >
          {% else %} between<span class="text-indigo-500 font-bold">
            {{ monthPickerStart }} to {{ monthPickerEnd }}</span
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="pt-8 pb-8">
    <div
      class="w-full md:w-12/12 sm:w-12/12 bg-light-primary rounded-md dark:bg-dark-primary shadow-xl overflow-x-scroll"
    >
      <div class="table-responsive p-3 pt-5">
        <table id="host-down-table" class="display" style="width: 100%">
          <thead>
            <tr>
              <th></th>
              <th>Host Name</th>
              <th>Last Time Up</th>
              <th>Last Time Down</th>
              <th>Duration</th>
            </tr>
          </thead>
          <tbody>
            {% for key, host in host_down_list.items() %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ host["host_name"] }}</td>
              <td>
                {{ host["host_last_time_up"].strftime('%A, %B %d, %Y %I:%M %p')
                }}
              </td>
              <td>
                {{ host["host_last_time_down"].strftime('%A, %B %d, %Y %I:%M
                %p') }}
              </td>
              {% set hours = host['host_minutes'] // 60 %} {% set minutes =
              host['host_minutes'] % 60 %}
              <td>{{ '{:02} hours {:02} minutes'.format(hours, minutes) }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#host-down-table").DataTable({
      order: [[0, "asc"]],
      dom: "Bfrtip",
      buttons: ["copy", "csv", "excel", "print", "colvis"],
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const currentDate = new Date();

    const formattedDate = currentDate.toISOString().slice(0, 7);
    const monthPickerStart = document.getElementById("monthPickerStart");
    const monthPickerEnd = document.getElementById("monthPickerEnd");

    const form = document.getElementById("searchForm");
    const submitButton = document.getElementById("submitButton");

    if (monthPickerEnd.value === "") {
      document.getElementById("monthPickerEnd").value = formattedDate;
    }

    function handleStartPickerChange() {
      const selectedStartValue = monthPickerStart.value;
      const selectedEndValue = monthPickerEnd.value;

      if (selectedStartValue > selectedEndValue) {
        monthPickerEnd.value = formattedDate;
      }

      if (selectedStartValue > formattedDate) {
        monthPickerStart.value = formattedDate;
      }

      monthPickerEnd.disabled = !selectedStartValue;

      if (selectedStartValue) {
        monthPickerEnd.min = selectedStartValue;
        monthPickerEnd.style.cursor = "pointer";
        monthPickerEnd.style.opacity = "1";
      }
      if (!selectedStartValue) {
        monthPickerEnd.style.cursor = "not-allowed";
        monthPickerEnd.style.opacity = "0.3";
      }
      monthPickerStart.max = formattedDate;
      monthPickerEnd.max = formattedDate;
    }

    monthPickerStart.addEventListener("input", handleStartPickerChange);
    monthPickerEnd.addEventListener("input", () => {
      const selectedStartValue = monthPickerStart.value;
      const selectedEndValue = monthPickerEnd.value;
      if (selectedEndValue < selectedStartValue) {
        monthPickerEnd.value = formattedDate;
      }
    });

    handleStartPickerChange();
  });
</script>

{% endblock %}
